
.activity-list-item {
    background: #181828;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    height: 105px;
}

.info-stack {
    color:inherit;
}

.info-par {
    color: inherid;
}
