@use "../../styles/colors.scss";

.profile-colleciton-filters {
    color:inherit;
}

.backgroundInputSearch {

    background-color: colors.$background_paper;
    border-radius: 32px;
    text-decoration: none;



}