@use "../../styles/colors";

.collectors {
    width: 27%;

    >div {
        display: inline-block;
    }
}

.collector {
    background-color: colors.$background_number;
    padding: 0 25px;
    font-size: 3rem;
    font-weight: bold;
}

.collectorsList {
    background-color: colors.$background_user;
}

.lighter {
    .collector {
        background-color: rgba(colors.$background_number, 30%);

    }

    .collectors,
    .userWrapper {
        background-color: rgba(colors.$background_user, 30%);
    }
}

.darker {
    .collector {
        background-color: rgba(colors.$background_number, 90%);

    }

    .collectors,
    .userWrapper {
        background-color: rgba(colors.$background_user, 90%);
    }
}