@use "../../styles/colors";

.userWrapper {
  display: grid;
  grid-template-columns: auto auto;


}
.active {
  background-color: colors.$secondary_main;
}

.user {

  background-color: rgba(colors.$background_user,0.9);
  grid-row: 1 / span 2;
  width: fit-content;
  padding:0 10px;
  .name, .info{
    font-size:1rem;
    
  }
  >div {
    display:inline-block;
  }

}

.name {
  color: colors.$text_primary;
  font-size: 1.23rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;

  line-height: 20px;
}

.info {
  color: colors.$secondary_main;
  size: 1.08rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  display: inline-block;
  line-height: 20px;
   
}