@use "../../styles/colors";

.user-container {
    box-sizing: border-box;
    background: colors.$background_user;
    border-radius: 15px;
    max-width: 340px;
}

.product-info-creator {
    /* base-primary */

    border-radius: 15px;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    padding-left: 27px;

    /* identical to box height, or 183% */

    /* text-primary-contrast */
    color: #E1E1FC;
    background: rgba(colors.$primary_main, 0.20);

}